.form-enter {
	opacity: 0;
}

.form-enter-active {
	opacity: 1;
	transition: transform 250ms, opacity 250ms;
}

.form-exit {
	opacity: 1;
}

.form-exit-active {
	opacity: 0;
	transition: transform 250ms, opacity 250ms;
}
